.glide {
  position: relative;
  width: 100%;
  box-sizing: border-box; }
  .glide * {
    box-sizing: inherit; }
  .glide__track {
    overflow: hidden; }
  .glide__slides {
    position: relative;
    width: 100%;
    list-style: none;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    touch-action: pan-Y;
    overflow: hidden;
    padding: 0;
    white-space: nowrap;
    display: flex;
    flex-wrap: nowrap;
    will-change: transform; }
    .glide__slides--dragging {
      user-select: none; }
  .glide__slide {
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    white-space: normal;
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent; }
    .glide__slide a {
      user-select: none;
      -webkit-user-drag: none;
      -moz-user-select: none;
      -ms-user-select: none; }
  .glide__arrows {
    -webkit-touch-callout: none;
    user-select: none; }
  .glide__bullets {
    -webkit-touch-callout: none;
    user-select: none; }
  .glide--rtl {
    direction: rtl; }

/*
@ - 600px:    Phone
600 - 900px:  Tablet Portrait
900 - 1200px:  Tablet LandScape
[1200 - 1800px:]  Normal Style
1800+       :  Big Desktop

$breakpoint:
-phone
-tab-port
-tab-land
-big-desktop
*/
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 37.5em) {
    html {
      font-size: 40%; } }

body {
  font-family: 'Raleway', sans-serif; }

input:focus {
  outline: none; }

input::placeholder {
  font-size: 1.8rem;
  color: #000000;
  letter-spacing: .2rem; }
  @media only screen and (max-width: 37.5em) {
    input::placeholder {
      font-size: calc(3.6rem); } }

input[type=text] {
  background: transparent;
  border: none;
  border-bottom: .2rem solid black;
  font-size: 2rem;
  color: #000000; }

input[type=password] {
  background: transparent;
  border: none;
  border-bottom: .2rem solid black;
  font-size: 2rem;
  color: #000000; }

a {
  color: #000000;
  text-decoration: none; }
  a:link {
    color: #000000; }
  a::visited {
    color: #000000; }

textarea {
  border: .2rem solid black;
  background-color: rgba(10, 10, 10, 0.001);
  font-size: 2rem;
  color: #000000;
  padding: 1rem; }
  textarea:focus {
    outline: none; }
  textarea::placeholder {
    font-size: 1.8rem;
    color: #000000;
    letter-spacing: .2rem; }
    @media only screen and (max-width: 37.5em) {
      textarea::placeholder {
        font-size: calc(3.6rem); } }

.button {
  border: 0.2rem solid rgba(0, 0, 0, 0.9);
  background-color: transparent;
  padding: 1rem 3rem;
  color: black;
  font-size: 2rem;
  letter-spacing: .2rem;
  cursor: pointer;
  transition: all .3s ease-in-out; }
  .button:hover {
    background-color: black;
    border: .2rem solid transparent;
    color: white; }

.button2 {
  background-color: transparent;
  border: white;
  color: white;
  font-size: 2rem; }

.buttonWhite {
  border: .2rem solid white;
  background-color: transparent;
  padding: 1rem 3rem;
  color: white;
  font-size: 2rem;
  letter-spacing: .2rem;
  cursor: pointer;
  transition: all .3s ease-in-out; }
  .buttonWhite:hover {
    background-color: rgba(0, 0, 0, 0.7);
    border: .2rem solid transparent;
    color: white; }

.logout-button {
  border: .2rem solid white;
  background-color: transparent;
  text-transform: uppercase;
  padding: 1rem 2rem;
  color: white;
  cursor: pointer;
  transition: all .3s ease-in-out; }
  .logout-button:hover {
    background-color: white;
    border: .2rem solid transparent;
    color: black; }

.container-one {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  column-gap: 2.5rem;
  row-gap: 7.5rem; }
  @media only screen and (max-width: 37.5em) {
    .container-one {
      grid-template-rows: repeat(4, 1fr);
      row-gap: 10rem; } }

.results__container {
  display: grid;
  grid-template-columns: 25vw 75vw;
  grid-template-rows: 20vh; }

.container-two {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(3, 1fr); }

.container-three {
  display: grid;
  grid-template-columns: 2% 1fr 1fr 1fr 1fr 2%;
  grid-template-rows: 20vh; }

.container-four {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 1fr 1fr 1fr;
  height: 20vh;
  width: 100%; }

.container-five {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 2fr 1fr 8fr 1.5fr; }

.map__container {
  display: grid;
  grid-template-columns: 25vw 75vw;
  grid-template-rows: 65vh; }

.hidden-container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 10% 1fr 1fr 1fr 1fr 10%;
  justify-items: center;
  align-items: center; }

.nav-container {
  display: grid;
  float: right; }

.form-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  column-gap: 2rem;
  row-gap: 7rem; }

#map {
  height: 100%;
  width: 100%; }

.nav {
  height: 15vh;
  background-color: transparent;
  line-height: 15vh;
  padding: 0 5rem; }
  .nav__logo {
    color: #000000;
    font-size: 2.8rem;
    text-transform: uppercase;
    float: left;
    line-height: 15vh;
    letter-spacing: .2rem;
    z-index: 999;
    cursor: pointer; }
  .nav__menuIcon {
    display: none;
    float: right;
    line-height: 15vh;
    font-size: 2.8rem;
    cursor: pointer; }
    @media only screen and (max-width: 56.25em) {
      .nav__menuIcon {
        display: block; } }
  .nav__menu {
    float: right; }
    @media only screen and (max-width: 56.25em) {
      .nav__menu-one {
        display: none; } }
    .nav__menu-profile {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      width: 17vw;
      cursor: pointer;
      position: absolute;
      top: 7.5%;
      left: 91.5%;
      transform: translate(-50%, -50%); }
      @media only screen and (max-width: 56.25em) {
        .nav__menu-profile {
          width: 50vw;
          position: absolute;
          top: 7.5%;
          left: 75%;
          transform: translate(-50%, -50%); } }
      .nav__menu-profile span {
        padding-left: 1.5rem; }
      .nav__menu-profile-active {
        background-color: rgba(0, 0, 0, 0.5);
        color: white; }
        @media only screen and (max-width: 56.25em) {
          .nav__menu-profile-active {
            background-color: rgba(0, 0, 0, 0.975); } }
      .nav__menu-profile:hover {
        color: white; }
    .nav__menu-username {
      font-size: 2rem;
      font-weight: 400;
      text-transform: uppercase;
      grid-column: 1/2;
      justify-self: center;
      align-self: center; }
      @media only screen and (max-width: 56.25em) {
        .nav__menu-username {
          justify-self: end;
          padding-right: 5rem; } }
    .nav__menu-menuIcon {
      position: absolute;
      width: 3rem;
      height: 1rem; }
    .nav__menu-list {
      text-transform: uppercase;
      display: flex; }
      .nav__menu-list li {
        list-style: none; }
        .nav__menu-list li:not(:last-child) {
          padding-right: 2.5rem; }
        .nav__menu-list li a {
          padding: 1.5rem 0;
          line-height: 15vh;
          font-size: 1.4rem;
          text-decoration: none;
          font-weight: 500;
          position: relative; }
          .nav__menu-list li a:after {
            content: "";
            position: absolute;
            border-bottom: .2rem solid black;
            bottom: 0;
            left: 0;
            right: 100%;
            transition: all .3s ease-in-out; }
          .nav__menu-list li a:hover:after {
            right: 0; }
          .nav__menu-list li a:link {
            color: #000000; }
          .nav__menu-list li a:visited {
            color: #000000; }
    .nav__menu-dropdown {
      background-color: rgba(0, 0, 0, 0.5);
      height: 85vh;
      width: 17vw;
      overflow: hidden;
      position: absolute;
      top: 57.5%;
      left: 91.5%;
      transform: translate(-50%, -50%);
      z-index: 3;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(5, 1fr);
      display: none; }
      @media only screen and (max-width: 56.25em) {
        .nav__menu-dropdown {
          width: 50vw;
          position: absolute;
          top: 57.5%;
          left: 75%;
          transform: translate(-50%, -50%);
          background-color: rgba(0, 0, 0, 0.975); } }
      .nav__menu-dropdown-active {
        display: grid; }
      .nav__menu-dropdown .profile {
        grid-column: 1/2;
        grid-row: 1/2;
        justify-self: center;
        align-self: center; }
      .nav__menu-dropdown .about {
        grid-column: 1/2;
        grid-row: 2/3;
        justify-self: center;
        align-self: center; }
      .nav__menu-dropdown .space {
        grid-column: 1/2;
        grid-row: 3/4;
        justify-self: center;
        align-self: center; }
      .nav__menu-dropdown .dropdown-contact {
        grid-column: 1/2;
        grid-row: 4/5;
        justify-self: center;
        align-self: center; }
      .nav__menu-dropdown .logout {
        grid-column: 1/2;
        grid-row: 5/6;
        justify-self: center;
        align-self: center;
        padding-right: 10%; }
      .nav__menu-dropdown li {
        padding-left: 10%;
        text-align: right;
        list-style: none;
        text-transform: uppercase; }
        .nav__menu-dropdown li:not(:last-child) {
          padding-right: 2.5rem; }
        .nav__menu-dropdown li a {
          padding: 1.5rem 0;
          line-height: 15vh;
          font-size: 1.4rem;
          text-decoration: none;
          font-weight: 500;
          position: relative; }
          .nav__menu-dropdown li a:after {
            content: "";
            position: absolute;
            border-bottom: .2rem solid white;
            bottom: 0;
            left: 0;
            right: 100%;
            transition: all .3s ease-in-out; }
          .nav__menu-dropdown li a:hover:after {
            right: 0; }
          .nav__menu-dropdown li a:link {
            color: white; }
          .nav__menu-dropdown li a:visited {
            color: white; }
  .nav__active {
    top: 15vh; }

.contact {
  height: 100vh;
  background-color: rgba(10, 10, 10, 0.1);
  font-size: 1.8rem; }
  .contact__form {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 4fr 1fr;
    width: 40%;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    grid-row-gap: 2rem; }
    .contact__form-button {
      width: 25%;
      position: absolute;
      top: 93%;
      left: 50%;
      transform: translate(-50%, -50%); }

.forgot {
  font-size: 1.8rem;
  height: 100vh;
  background-color: rgba(10, 10, 10, 0.1); }
  .forgot__form {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 5rem;
    width: 35%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
    .forgot__form-button {
      width: 25%;
      position: absolute;
      top: 93%;
      left: 50%;
      transform: translate(-50%, -50%); }

.homepage {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 255, 0.1)), url("../img/fp1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 0; }
  @media only screen and (max-width: 37.5em) {
    .homepage {
      background: none;
      background-color: black; } }
  .homepage__form {
    position: absolute;
    top: 44%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #000000;
    font-size: 2rem;
    letter-spacing: .2rem; }
    @media only screen and (max-width: 37.5em) {
      .homepage__form {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); } }
    .homepage__form-destination {
      grid-column: 1/3;
      grid-row: 1/2; }
    .homepage__form-arriving {
      grid-column: 1/2;
      grid-row: 2/3; }
    .homepage__form-departing {
      grid-column: 2/3;
      grid-row: 2/3; }
    .homepage__form-search {
      grid-column: 1/3;
      grid-row: 3/4;
      width: 35%;
      margin-left: 33%;
      font-size: calc(2rem * 1);
      cursor: pointer; }
      .homepage__form-search:focus {
        outline: none; }
      @media only screen and (max-width: 37.5em) {
        .homepage__form-search {
          grid-row: 4/5;
          font-size: calc(2rem * 1.8); } }

.resetPassword__h {
  font-size: 5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
  text-align: center; }

.results {
  background: linear-gradient(to right, rgba(255, 255, 255, 0.5), rgba(0, 0, 0, 0.1)); }
  .results__container-edit {
    grid-column: 1/2;
    justify-items: center;
    align-items: center;
    font-size: 1.5rem;
    background-color: transparent; }
    .results__container-edit-destination {
      font-weight: 500; }
    .results__container-edit-datetime {
      align-self: start; }
    .results__container-edit-button {
      padding: .5rem 1.5rem;
      border: solid .1rem black;
      color: white;
      background-color: black;
      cursor: pointer;
      font-weight: bold;
      text-transform: uppercase;
      align-self: start;
      font-size: 1.4rem; }
  .results__container-listings {
    grid-column: 2/3;
    background-color: transparent;
    font-size: 1.2rem; }
    .results__container-listings-right {
      grid-column: 6/7;
      grid-row: 1/2;
      justify-self: center;
      align-self: center;
      cursor: pointer; }
    .results__container-listings-left {
      grid-column: 1/2;
      grid-row: 1/2;
      justify-self: center;
      align-self: center;
      cursor: pointer; }

#map {
  grid-column: 1/3;
  grid-row: 1/2;
  z-index: 1; }

.hidden-edit {
  grid-column: 1/2;
  grid-row: 1/2;
  height: 100%;
  width: 100%;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.8);
  display: none; }
  .hidden-edit-active {
    display: grid; }
  .hidden-edit-destination {
    grid-row: 2/3;
    grid-column: 1/2; }
    .hidden-edit-destination:focus {
      outline: none; }
    .hidden-edit-destination::placeholder {
      font-size: 1.8rem;
      letter-spacing: .2rem;
      color: white; }
  .hidden-edit-arriving {
    grid-row: 3/4;
    grid-column: 1/2; }
    .hidden-edit-arriving:focus {
      outline: none; }
    .hidden-edit-arriving::placeholder {
      font-size: 1.8rem;
      letter-spacing: .2rem;
      color: black; }
  .hidden-edit-departing {
    grid-row: 4/5;
    grid-column: 1/2; }
    .hidden-edit-departing:focus {
      outline: none; }
    .hidden-edit-departing::placeholder {
      font-size: 1.8rem;
      letter-spacing: .2rem;
      color: black; }
  .hidden-edit-button {
    grid-row: 5/6;
    grid-column: 1/2; }
  .hidden-edit-menulogo {
    grid-row: 2/3;
    grid-column: 1/2; }

.hidden-info {
  grid-column: 2/3;
  grid-row: 1/2;
  height: 100%;
  width: 100%;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.8);
  letter-spacing: .2rem;
  color: white;
  display: none; }
  .hidden-info-active {
    display: grid; }
  .hidden-info-title {
    grid-column: 1/4;
    grid-row: 1/2;
    justify-self: center;
    align-self: center;
    font-size: 3rem;
    font-weight: bold; }
  .hidden-info-space_detail {
    grid-column: 1/2;
    grid-row: 2/3;
    justify-self: center;
    align-self: center;
    font-weight: bold;
    font-size: 1.4rem; }
  .hidden-info-images {
    grid-column: 2/3;
    grid-row: 2/3;
    justify-self: center;
    align-self: center;
    font-weight: bold;
    font-size: 1.4rem; }
  .hidden-info-reviews {
    grid-column: 3/4;
    grid-row: 2/3;
    justify-self: center;
    align-self: center;
    font-weight: bold;
    font-size: 1.4rem; }
  .hidden-info-sdtext {
    grid-column: 1/2;
    grid-row: 3/4;
    justify-self: center;
    padding: 2rem;
    font-size: 1.2rem;
    line-height: 2rem; }
  .hidden-info-contact {
    width: 75%;
    justify-self: center;
    align-self: center; }

.listing {
  font-size: 1.4rem;
  cursor: pointer;
  overflow: hidden; }
  .listing__title {
    grid-column: 1/3;
    grid-row: 1/2;
    justify-self: center;
    align-self: center;
    font-weight: 500; }
  .listing__distance {
    grid-column: 1/2;
    grid-row: 2/3;
    justify-self: center; }
  .listing__review {
    grid-column: 2/3;
    grid-row: 2/3;
    justify-self: center; }
  .listing__price {
    grid-column: 1/3;
    grid-row: 3/4;
    justify-self: center;
    padding: .5rem 1.5rem;
    border: solid .1rem black;
    color: black;
    background-color: white;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    align-self: start;
    font-size: 1.4rem; }

.arrow_icon {
  color: black; }

.glide__arrow {
  position: absolute;
  display: block;
  top: 50%;
  z-index: 2;
  cursor: pointer;
  line-height: 1;
  background-color: transparent;
  border: none; }

.glide__arrow--left {
  left: .5rem; }

.glide__arrow--right {
  right: .5rem; }

.signin {
  font-size: 1.8rem;
  height: 100vh;
  width: 100vw;
  background-color: rgba(10, 10, 10, 0.1);
  position: absolute; }
  .signin__form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    row-gap: 5rem;
    column-gap: 2rem;
    width: 35%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
    .signin__form-email {
      grid-column: 1/3;
      grid-row: 1/2; }
    .signin__form-passowrd {
      grid-column: 1/3;
      grid-row: 2/3; }
    .signin__form-button {
      grid-column: 1/3;
      grid-row: 3/4;
      width: 30%;
      margin-left: 33%; }
    .signin__form-signup {
      grid-column: 1/2;
      grid-row: 4/5;
      justify-self: start;
      align-self: center; }
    .signin__form-forgot {
      grid-column: 2/3;
      grid-row: 4/5;
      justify-self: end;
      align-self: center; }

.signup {
  height: 100vh;
  background-color: rgba(10, 10, 10, 0.1);
  font-size: 1.8rem; }
  .signup__form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    row-gap: 5rem;
    column-gap: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
    .signup__form-username {
      grid-column: 1/3;
      grid-row: 1/2; }
    .signup__form-email {
      grid-column: 1/3;
      grid-row: 2/3; }
    .signup__form-pwd {
      grid-column: 1/2;
      grid-row: 3/4; }
    .signup__form-retypepwd {
      grid-column: 2/3;
      grid-row: 3/4; }
    .signup__form-button {
      grid-column: 1/3;
      grid-row: 4/5;
      width: 30%;
      margin-left: 33%; }
  .signup__error {
    color: red;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%); }
