///////////////////////////////////////////
///////////////Navigation Bar//////////////
///////////////////////////////////////////
.nav{
    height: $header-height;
    background-color: transparent;
    line-height: $header-height;
    padding: 0 5rem;
    z-index: 0;
///////////////////////////////////////////
///////////////Navigation Logo/////////////
///////////////////////////////////////////
    &__logo{
        color: $header-font-color;
        font-size: $header-logo-size;
        text-transform: uppercase;
        float: left;
        line-height: $header-height;
        letter-spacing: .2rem;
        cursor: pointer;
    }
///////////////////////////////////////////
/////////////Navigation Menu Icon//////////
///////////////////////////////////////////
    &__menuIcon{
        display: none;
        float: right;
        line-height: $header-height;
        font-size: $header-logo-size;
        cursor: pointer;
        @include respond(tab-port){
            display: block;
        }
        
    }
///////////////////////////////////////////
/////////////Navigation Menu///////////////
///////////////////////////////////////////
    &__menu{
        float: right;
        @include respond(tab-port){
            display: none;
        }
        &-list{
            text-transform: uppercase;
            display: flex;
            li{
                list-style: none;
                &:not(:last-child){
                    padding-right: 2.5rem;
                }
                a{
                  padding: 1.5rem 0;
                  line-height: $header-height;
                  font-size: $header-menu-font-size;
                  text-decoration: none;
                  font-weight: 500;
                  position: relative;
                  &:after{
                      content: "";
                      position: absolute;
                      border-bottom: .2rem solid black;
                      bottom: 0;
                      left: 0;
                      right: 100%;
                      transition: all .3s ease-in-out;
                  }
                  &:hover:after{
                     right: 0;

                  }
                  &:link{
                      color: $header-font-color;
                  }
                  &:visited{
                    color: $header-font-color;
                    }
                

                }
                
            }
        }
    }
    &__active{
        top: $header-height;
    }
}
