///////////////////////////////////////////////////
///////////////////// HomePage ////////////////////
///////////////////////////////////////////////////
$background-image: "../img/fp1.jpg"; // background image of homepage 
////////////////// Header Section /////////////////
$header-height: 15vh;  // height for the header 
$header-background-color: transparent; // background color for header
$header-font-color:#000000; // font color for header  (logo and menu items)
$header-logo-size: 2.8rem; // changes size of logo
$header-menu-font-size: 1.4rem; // changes size of menu
/////////////////// Form Section //////////////////
$form-height: 5rem;   // height of the form buttons/input
$form-width:  0rem;     // width of the form buttons/input
$form-radius: 1.2rem;   // radius of the form buttons/input
$form-background-color: #ffffff; // colors of the form buttons/input
$form-font-color: #000000; // font color for buttons/input
$form-font-size: 2rem; // form font size for buttons/input