*,
*::before,
*::after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    // defines what 1rem is
    font-size: 62.5%; // 1rem =10px; 10px/16px = 62.5%

    @include respond(tab-land) {
        font-size: 56.25%; // 1rem = 9px 9/16= 56.25%
      }
    
    @include respond(tab-port) {
        font-size: 50%; // 1rem = 8px. 8/16 = 50%
      }
    
    @include respond(phone) {
        font-size: 40%;
      }
  }

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
input{
    &:focus{
        outline: none;
    }
     &::placeholder{
         font-size: 1.8rem;
         color: $form-font-color;
         letter-spacing: .2rem;
         @include respond(phone){
             font-size: calc(#{$form-font-size * 1.8});
         }
  }
}
input[type=text] {
    background: transparent;
    border: none;
    border-bottom: .2rem solid black;
    font-size: $form-font-size;
    color: $form-font-color;
}
input[type=password] {
    background: transparent;
    border: none;
    border-bottom: .2rem solid black;
    font-size: $form-font-size;
    color: $form-font-color;
}

a{
    color: $form-font-color;
    text-decoration: none;
    &:link{
        color: $header-font-color;
    }
    &::visited{
        color: $header-font-color
    }
}