
.button_two{
    height: 5rem;
    width: 75%;
    border-radius: $form-radius;
    border: none;
    text-align: center;
    background-color: #EEECEC;
}
button{
    border: .2rem solid black;
    background-color: transparent;
    padding: 1rem 3rem;
    color: $form-font-color;
    font-size: $form-font-size;
    letter-spacing: .2rem;
    cursor: pointer;
    transition: all .3s ease-in-out;
    &:hover{
        background-color: black;
        color: white;
    }
}
