.forgot{
    font-size: 1.8rem;
    height: 100vh;
    background-color: rgba(10,10,10,0.1);
    &__form{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        row-gap: 5rem;
        width: 35%;
        @include position(50%, 50%);

        &-button{
            width: 25%;
            @include position(93%, 50%);
        }
    }
}
