.homepage{
    height: 100vh;
    width: 100vw;
    background: linear-gradient(
        rgba(0,0,0,0.1),
        rgba(0,0,255,0.1)), 
    url($background-image);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 0;
    @include respond(phone){
        background: none;
        background-color: black;
    }
   
    &__form{
       @include position(44%, 50%);
       color: $form-font-color;
       font-size: $form-font-size;
       letter-spacing: .2rem;
       @include respond(phone){
           @include position(50%, 50%);
       }
        &-destination{
            grid-column: 1/3;
            grid-row: 1/2;
        }
        &-arriving{
            grid-column: 1/2;
            grid-row: 2/3;
            @include respond(phone){
                
            }
        }
        &-departing{
            grid-column: 2/3;
            grid-row: 2/3;
            @include respond(phone){
                
            }
        }   
        &-search{
            grid-column: 1/3;
            grid-row: 3/4;
            width: 35%;
            margin-left: 33%;
            font-size: calc(#{$form-font-size} * 1);
            cursor: pointer;
            &:focus{
                outline: none;
            }
            @include respond(phone){
                grid-row: 4/5;
                font-size: calc(#{$form-font-size} * 1.8);
            }
        }
    }
}

// button postion 


