.signup{
    height: 100vh;
    background: white;

    // background: url("../img/si.jpg");
    // background-size: cover;
    // background-repeat: no-repeat;
    // background-position: center;
    // position: relative;
    font-size: 1.8rem;
    &__form{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        row-gap: 5rem;
        column-gap: 2rem;
        @include position(50%, 50%);
        &-username{
            grid-column:1/3 ;
            grid-row:1/2 ;
        }
        &-email{
            grid-column:1/3 ;
            grid-row:2/3 ;
        }
        &-pwd{
            grid-column:1/2 ;
            grid-row:3/4 ;
        }
        &-retypepwd{
            grid-column:2/3 ;
            grid-row:3/4;
        }
        &-button{
            grid-column:1/3 ;
            grid-row:4/5 ;
            width: 30%;
            margin-left: 33%;
        }
    }
    &__error{
        color: red;
        @include position(20%, 50%);
    }
}